*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header, section, footer{
    width: 100%;
    float: left;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.header{
    background-image: url("../images/header-bg.png");
}
.content{
    width: 50%;
    height: 1000px;
    float: left;
    display: flex;
    align-items:center;
    padding-left: 10%;
    padding-right: 5%;
}
.h2{
    font-size: 64px;
}
.name{
    font-size: 96px;
    color: #ff00d4;
}
.text{
    font-size: 20px;
    color: #777777;
    padding: 50px 0px;
    line-height: 30px;
    text-align: justify;
}
.button{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #ff00d4;
    padding: 15px 40px;
    border-radius: 10px;
}
.image{
    width: 50%;
    float: left;
    padding: 50px;
    display: flex;
    align-items:center;
}
.image img{
    width: 100%;
}
.biography{
    background-image: url("../images/biography-bg.png");
}
.latest-work{
    padding: 150px;
    background-image: url("../images/latest-work-bg.png");
}
.title{
    font-size: 64px;
    color: #262626;
    text-align: center;
}
.works{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.col{
    width: 32%;
}
.col img{
    width: 100%;
}
.client{
    padding: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url("../images/footer-bg.png");
}
.client-content{
    width: 50%;

}
.client h5{
    margin-top: 150px;
    font-size: 24px;
    line-height: 30px;
}
.company{
    color: #ff00d4;
}
.client p{
    color: #777777;
    text-align: center;
}
.email{
    background-color: #ff00d4;
    width: 100%;
    padding: 80px 0px;
    border-radius: 15px;
}
.email p{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.email h4{
    font-size: 32px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
.footer{
    padding: 50px;
}
.footer p{
    font-size: 20px;
    color: #777777;
    text-align: center;
    line-height: 30px;
}
@media only screen and (max-width: 992px) {
    *{
        font-size: 100%;
    }
    .content{
        width: 100%;
    }
    .image{
        width: 100%;
    }
    .latest-work{
        padding: 50px;
        
    }
    .works{
        display: block;
        margin-top: 50px;
    }
    .col{
        width: 100%;
        margin-top: 20px;
    }
    .client{
        padding: 50px;
    }
    .client-content{
        width: 100%;
    }
    .email p{
        font-size: 100%;
    }
    .email h4{
        font-size: 100%;
    }
}