*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header, section, footer{
    width: 100%;
    float: left;
}
.header{
    background-image: url("../images/header-bg.png");
    height: 1000px;
}
.left{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items:center;
}
.left-content{
    padding-left: 20%;
}
.h2{
    font-size: 64px;
}
.name{
    font-size: 96px;
    color: #ff00d4;
}
.text{
    font-size: 20px;
    color: #777777;
    padding: 50px 0px;
    line-height: 30px;
    text-align: justify;
}
.button{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #ff00d4;
    padding: 15px 40px;
    border-radius: 10px;
}
.right{
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
}
.right img{
    width: 100%;
    height: 100%;
}
.biography{
    height: 1000px;
}